@font-face {
	font-family: Montseratt-Light;
	src: url(../assets/Montserrat-Light.ttf);
}

@font-face {
	font-family: Montseratt-Regular;
	src: url(../assets/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montseratt-Medium;
	src: url(../assets/Montserrat-Medium.ttf);
}

* {
	font-family: Montseratt-Light, Arial, Helvetica, sans-serif;
}